* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero { 
  width: 100%;
  height: 100vh;
  background: url(/images/shaadi3.jpg) no-repeat center center/cover;
}
.hero .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}

.hero .navbar h1 {
  color: #fff;
  font-size: 50px;
  margin-left: 100px;
}

.hero .navbar .login a {
  width: 100%;
  margin-left: 650px;
  text-decoration: none;
}
.hero .navbar a {
  width: 100%;
  margin-right: 50px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.hero .function {
  width: 100%;

  display: flex;
  justify-content: center;
  margin-top: 280px;
  font-size: 25px;
  color: #fff;
}
.hero .transparent {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  width: 95%;
  height: 120px;
  background: rgba(0, 0, 0, 0.5);
  margin-left: 20px;
  border-radius: 10px;
  margin-top: 40px;
  z-index: -1;
  gap: 15px;
}

.hero .transparent label {
  color: #fff;
  font-size: 18px;
}

.hero .transparent .looking {
  width: 200px;
  height: 35px;
  border-radius: 2px;
  font-size: 15px;
}

.hero .transparent .age {
  width: 110px;
  height: 35px;
  border-radius: 2px;
  font-size: 15px;
}

.hero .transparent .to {
  width: 110px;
  height: 35px;
  border-radius: 2px;
  font-size: 15px;
}

.hero .transparent .religion {
  width: 200px;
  height: 35px;
  border-radius: 2px;
  font-size: 15px;
}

.hero .transparent .longue {
  width: 280px;
  height: 35px;
  border-radius: 2px;
  font-size: 15px;
}

.hero .transparent .button {
  width: 130px;
  height: 35px;
  background-color: darkturquoise;
  align-content: center;
  margin-top: 10px;
  border-radius: 3px;
}

.hero .transparent .button a {
  text-decoration: none;
  font-size: 17px;
  color: #fff;
  justify-content: center;
}
.button {
  align-items: center;
  text-align: center;
}

.hero .container {
  width: 100%;
  background-color: rgb(244, 239, 239);
  margin-top: 40px;
  padding-top: 60px;
}

.hero .container .box {
  width: 85%;
  height: 180px;
  background-color: black;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
  margin-left: 80px;
}

.hero .container .box1 {
  color: rgb(202, 160, 88);
  margin-left: 20px;
}

.hero .container .box1 h1 {
  font-size: 35px;
}

.hero .container .box1 p {
  font-size: 17px;
  color: #fff;
  margin-top: 10px;
}

.hero .container .box2 h1 {
  color: rgb(202, 160, 88);
}
.hero .container .box2 span {
  color: #fff;
}

.hero .container .box2 button {
  width: 150px;
  height: 30px;
  text-decoration: none;
  background-color: rgb(202, 160, 88);
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 5px;
}

.hero .container .box2 button a {
  text-decoration: none;
  font-size: 17px;
  color: #fff;
}

.hero .container .hd {
  text-align: center;
  font-size: 25px;
  color: red;
  margin-top: 60px;
  margin-right: 140px;
}

.hero .container .logo {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin-right: 50px;
  margin-top: 50px;
}

.hero .container .logo1 img {
  width: 140px;
  height: 160px;
  border-radius: 100px;
  margin-right: 40px;
}

.hero .container .logo2 img {
  width: 150px;
  height: 150px;
  border-radius: 100px;
}
.hero .container .logo3 img {
  width: 150px;
  height: 150px;
  border-radius: 100px;
}
.hero .container .logo .color {
  font-size: 25px;
  color: darkturquoise;
  margin-bottom: 5px;
}
.hero .container .logo p {
  font-size: 17px;
}

/* cards section */

.hero .container2 {
  width: 100%;
  background-color: #fff;
}
.hero .container2 .cards {
  display: flex;
  flex-direction: row;
}
.hero .container2 .cards_heading {
  font-size: 37px;
  color: rgb(227, 81, 81);
  text-align: center;
  margin: 100px;
}
.hero .container2 .cards {
  width: 100%;
  height: 400px;
  justify-content: center;
  gap: 20px;
}
.hero .container2 .card1 img {
  width: 250px;
  height: 220px;
}

.hero .container2 .card2 img {
  width: 250px;
  height: 220px;
}
.hero .container2 .card3 img {
  width: 250px;
  height: 220px;
}
.hero .container2 .card1 .pr1 {
  width: 250px;
  height: 250px;
  font-size: 17px;
  margin-top: 20px;
}

.hero .container2 .card2 .pr2 {
  width: 250px;
  height: 250px;
  font-size: 17px;
  margin-top: 20px;
}
.hero .container2 .card3 .pr3 {
  width: 250px;
  height: 250px;
  font-size: 17px;
  margin-top: 20px;
}

.hero .bar {
  width: 100%;
  height: 100px;
  background-color: hwb(0 35% 0%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .bar h2 {
  font-size: 28px;
  color: #fff;
  margin: 40px;
}

.hero .bar button {
  width: 200px;
  height: 55px;
  background-color: hwb(0 35% 0%);
  border: 2px solid #fff;
}

.hero .bar button a {
  font-size: 19px;
  color: #fff;
  text-decoration: none;
}

.hero .bar button:hover {
  background-color: #fff;
}

.hero .bar button a:hover {
  color: aqua;
}

.hero .container3 {
  width: 100%;
  height: 100vh;
  background-color: rgb(239, 233, 233);
  display: flex;
  justify-content: space-between;
}

.hero .container3 .super1 h1 {
  font-size: 30px;
  color: black;
  margin-top: 80px;
  margin-left: 60px;
  margin-bottom: 20px;
}

.hero .container3 .super1 .community {
  width: 500px;
  height: 60px;
  margin: 10px;
  margin-left: 60px;
  border-radius: 2px;
  font-size: 17px;
  color: rgb(7, 210, 210);
}

.hero .container3 .super1 .country {
  width: 500px;
  height: 60px;
  margin: 10px;
  margin-left: 60px;
  border-radius: 2px;
  font-size: 17px;
  color: rgb(7, 210, 210);
}

.hero .container3 .super1 .marital {
  width: 500px;
  height: 60px;
  margin: 10px;
  margin-left: 60px;
  border-radius: 2px;
  font-size: 17px;
  color: rgb(7, 210, 210);
}
.hero .container3 .super1 .religion {
  width: 500px;
  height: 60px;
  margin: 10px;
  margin-left: 60px;
  border-radius: 2px;
  font-size: 17px;
  color: rgb(7, 210, 210);
}

.hero .container3 .super2 .city {
  width: 500px;
  height: 60px;
  margin: 10px;
  margin-top: 143px;
  border-radius: 2px;
  font-size: 17px;
  color: rgb(7, 210, 210);
}

.hero .container3 .super2 .state {
  width: 500px;
  height: 60px;
  margin: 10px;
  border-radius: 2px;
  font-size: 17px;
  color: rgb(7, 210, 210);
}

.hero .container3 .super2 .mother {
  width: 500px;
  height: 60px;
  margin: 10px;
  margin-right: 60px;
  border-radius: 2px;
  font-size: 17px;
  color: rgb(7, 210, 210);
}
.hero .container data {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .container4 {
  width: 100%;
  height: 50vh;
  background-color: rgb(239, 233, 233);
  display: flex;
  justify-content: space-between;
}

.hero .container4 .super3 h1 {
  font-size: 35px;
  margin-left: 60px;
}

.hero .container4 .super3 select {
  width: 500px;
  height: 60px;
  margin: 10px;
  margin-left: 60px;
  border-radius: 2px;
  font-size: 17px;
  color: rgb(7, 210, 210);
}

.hero .container4 .super4 select {
  width: 500px;
  height: 60px;
  margin: 10px;
  margin-right: 60px;
  border-radius: 2px;
  font-size: 17px;
  color: rgb(7, 210, 210);
}

.hero .div {
  width: 100%;
  height: 85vh;
  background-color: rgb(239, 233, 233);
}

.hero .div1 h2 {
  font-size: 30px;
  padding-top: 40px;
  padding: 20px;
}

.hero .div1 {
  width: 90%;
  height: 180px;
  background-color: #fff;
  margin-left: 60px;
  padding-left: 30px;
}

.hero .div1 p {
  font-size: 18px;
}

.hero .div2 h2 {
  font-size: 30px;
  padding-top: 40px;
  padding: 20px;
}
.hero .div2 {
  width: 90%;
  height: 180px;
  background-color: #fff;
  margin-left: 60px;
  padding-left: 30px;
  margin-top: 60px;
}
.hero .div2 p {
  font-size: 18px;
}

.hero .bar2 {
  width: 100%;
  height: 100px;
  background-color: rgb(197, 188, 188);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .bar2 h1 {
  font-size: 30px;
  color: rgb(241, 86, 86);
}

.hero .bar2 a {
  width: 130px;
  height: 35px;
  background-color: black;
  margin: 20px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 25px;
  border-radius: 5px;
}

.hero .bar2 a span {
  font-size: 17px;
}

.hero .second_last {
  width: 100%;
  height: 100vh;
  background-color: rgb(239, 233, 233);
}
.hero .second_last .pk {
  width: 100%;
  text-align: center;
}

.hero .second_last img {
  width: 130px;
  height: 100px;
  margin: 60px;
  border-radius: 20px;
}

.hero .second_last p {
  font-size: 17px;
  margin-left: 40px;
}

.hero .last_section {
  width: 100%;
  height: 100vh;
  background-color: rgb(239, 233, 233);
}

.hero .last_section .ul {
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.hero .last_section .ul a {
  text-decoration: none;
  color: rgb(2, 201, 205);
  letter-spacing: 2px;
}

.hero .last_section .ul h1 {
  font-size: 30px;
  margin-top: 60px;
  background-color: rgb(13, 209, 209);
  width: 300px;
  height: 45px;
  margin-left: 450px;
  margin-bottom: 30px;
  color: #fff;
}

.hero .last_section .ul .trusted {
  display: flex;
  justify-content: center;
  gap: 120px;
}

.hero .last_section .ul span {
  font-size: 20px;
}

.hero .last_section .last {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 30px;
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
}

.hero .last_section .last ul li a {
  text-decoration: none;
  font-size: 18px;
  color: rgb(49, 47, 47);
}

.hero .last_section .end {
  width: 100%;
  height: 80px;
  background-color: rgb(213, 211, 211);
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.hero .last_section .end a {
  text-decoration: none;
  background-color: lightblue;
  color: black;
}

 

@media screen and (max-width: 768px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 425px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr;
  }
}
